[[redirects]]
  from = "/claim*"
  to = "/blocked/"
  status = 403
  force = true
  conditions = {Country = [ "AS", "BD", "BO", "CA", "CN", "RC", "CU", "EC", "EG", "GU", "KP", "KG", "MA", "MM", "NA", "MP", "PR", "SS", "SD", "SY", "UM", "US", "VI" ]}

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# There are deploy sites: production/pr previews as well as the translations branch
# so cannot use context.production.environmenet as using production results in env vars colliding
# (production = develop on translation, production = master on main)

# This configures the master branch for production environement with the correct information
[context.master.environment]
  REACT_APP_NETWORK_LIMITS = "0"

# The translation flag for each of these is defined in the netlify UI so they can be independant based on the branch
[context.develop.environment]
  REACT_APP_CHAIN = "0x3"

[context.deploy-preview.environment]
  REACT_APP_CHAIN = "0x3"
  REACT_APP_ENV = "DEVNET"
