@import "../../styles/colors";
@import "../../styles/fonts";

.wallet-card {
  background-color: $white;
  padding: 20px;
  color: $black;
  font-size: 14px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      &:first-child {
        text-transform: uppercase;
      }

      &:last-child {
        font-family: $font-mono;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 0 5px;
    color: $text-color-deemphasise;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px;

    span:last-child {
      font-family: $font-mono;
    }

    &--dark {
      color: $black;
    }
  }
}
