@import "../../styles/colors";

.vega-wallet-form {
  input {
    background: transparent;
    border: 1px solid $black;
    color: $black;

    &:focus {
      background: $light-gray1;
      outline: none;
    }

    &:disabled {
      background: $gray3;
    }
  }

  &__submit {
    background-color: $vega-green3;
  }
}
