@import "../../styles/colors";

.vega-wallet {
  background-color: $white;
  padding: 10px;
  color: $black;
  font-size: 14px;

  &__connect {
    appearance: none;
    padding: 0;
    background-color: transparent;
    text-decoration: underline;

    &:hover {
      background-color: transparent;
    }
  }

  &__key-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__overlay {
    position: absolute;
    left: calc(50vw - 200px);
    margin: 10vh 0;
    top: 0;
    width: 400px;
    background: $dark-gray5;
    padding: 20px;
  }
}
