@import "../../styles/colors";
@import "../../styles/fonts";

.vega-wallet {
  background-color: $white;
  padding: 10px;
  color: $black;
  font-size: 14px;

  &__connect {
    appearance: none;
    padding: 0;
    background-color: transparent;
    text-decoration: underline;

    &:hover {
      background-color: transparent;
    }
  }

  &__key-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      text-align: right;
      font-family: $font-mono;
      cursor: pointer;
      text-decoration: underline;
      color: $text-color-deemphasise;

      &:hover {
        color: $black;
      }
    }
  }

  &__overlay {
    position: absolute;
    left: calc(50vw - 200px);
    margin: 10vh 0;
    top: 0;
    width: 400px;
    background: $dark-gray1;
    padding: 20px;
  }

  &__key {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid $black;
    padding-bottom: 3px;
    margin-bottom: 5px;
  }

  &__curr-key {
    font-family: $font-mono;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 0 5px;
    color: $text-color-deemphasise;
    font-size: 12px;
    text-transform: uppercase;

    span:last-child {
      font-family: $font-mono;
    }
  }
}
