@import "../../styles/colors";

.proposal-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  tr + tr {
    border-top: 1px solid $gray1;
  }

  th,
  td {
    vertical-align: top;
    padding: 3px;
    color: $text-color-emphasise;
  }

  th {
    text-align: left;
    font-weight: 400;
    padding-left: 0;
  }

  td {
    text-align: right;
    padding-right: 0;
  }
}
