@import "../../styles/colors";

.vote-buttons {
  &__button-container {
    display: flex;
  }

  &__button {
    width: calc(50% - 7px);
    margin-top: 5px;

    &:first-child {
      margin-right: 10px;
    }

    &__error-message {
      margin: 5px 0 0;
    }
  }

  &__container {
    align-items: baseline;
    display: flex;
  }

  &__logged-out-button {
    margin-top: 5px;
  }

  &__callout-container {
    margin-top: 5px;
  }

  &__link-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: $vega-yellow3;
    text-decoration: underline;
    cursor: pointer;
  }
}