.template-default {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  max-width: 1020px;
  margin: auto;

  header {
    grid-row: 1 / 1;
  }

  main {
    grid-row: 2 / 3;
    padding: 20px;
  }

  aside {
    grid-row: 2 / 3;
  }

  footer {
    grid-row: 3 / 4;
  }
}
