@import "../../styles/colors";

.contract-associate {
  &__input {
    flex: 1;
  }

  &__use-maximum {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button {
    height: 40px;

    &:disabled {
      background-color: $gray5 !important;
      color: $dark-gray5 !important;
    }
  }
}
