@import "../../styles/colors";
@import "../../styles/fonts";

.node-list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    word-break: break-all;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  table {
    font-size: 14px;
  }

  th,
  td {
    word-break: break-word;
    padding: 1px 5px;
  }

  th {
    color: $text-color-deemphasise;
    font-weight: normal;
  }

  td {
    font-family: $font-mono;
    text-align: right;
  }
}
