@import "../../styles/colors";

$bg-color-default: rgba(133, 152, 166, 0.25);
$color-default: #bfccd6;

.transaction-button {
  margin-bottom: 20px;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #696969;
    background: $bg-color-default;
    color: $color-default;

    &:hover {
      background: white;
      color: black;
    }

    &:disabled {
      opacity: 1;

      &:hover {
        background: $bg-color-default;
        color: $color-default;
      }
    }
  }

  &__txhash {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px 0 0 0;
    font-size: 14px;
  }

  // Complete and Error states
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 12px 32px;
    line-height: 1.15;
    border: 1px solid transparent; // to make height the same as a button
  }

  &--complete {
    .icon {
      color: $vega-green3;
    }
  }

  &--error {
    .icon {
      color: $vega-red3;
    }
  }
}
