@import "../../styles/colors";

.transaction-button {
  margin-bottom: 20px;

  &__txhash {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px 0 0 0;
    font-size: 14px;
  }

  // Complete and Error states
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 12px 32px;
    line-height: 1.15;
    border: 1px solid transparent; // to make height the same as a button
  }

  &--complete {
    .icon {
      color: $vega-green3;
    }
  }

  &--error {
    .icon {
      color: $vega-red3;
    }
  }
}
