@import "../../styles/colors";
@import "../../styles/fonts";

.tranche {
  &__progress-title {
    color: $gray3;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0 3px 0;
  }

  &__progress-info {
    display: flex;
    align-items: center;
    gap: 20px;
    color: $gray3;
    font-size: 12px;
  }

  &__user-list {
    list-style: none;
    padding: 0;
  }

  &__user-item {
    padding: 20px 0;
    border-bottom: 1px solid $white;

    @media (min-width: 960px) {
      display: flex;
      justify-content: space-between;
      gap: 15px;
    }
  }

  &__user-info {
    margin-top: 7px;

    @media (min-width: 960px) {
      margin-top: 0;
    }

    > span {
      margin-right: 15px;

      @media (min-width: 960px) {
        margin-left: 15px;
      }
    }
  }

  &__progress {
    border-left: $white;
    border-left-style: solid;
    border-left-width: 1px;
    border-right: $white;
    border-right-style: solid;
    border-right-width: 1px;

    &-contents {
      display: flex;
      justify-content: space-between;
      gap: 0 5px;
      font-family: $font-mono;
      padding: 2px 5px 2px 5px;
      color: $text-color-deemphasise;
    }
  }

  &__contentsp {
    display: flex;
    justify-content: space-between;
    gap: 0 5px;
    padding: 2px 5px 2px 5px;
    :last-child {
      font-family: $font-mono;
      color: $text-color-deemphasise;
    }
  }
}
