.tranche-labels {
  margin-top: 10px;

  .tranche-label {
    display: inline-block;
    margin-right: 5px;
    border-radius: 3px;
    padding: 2px 5px 1px 5px;

    background-color: #494949;
    color: #6e6e6e;
  }
}
