@import "../../styles/colors";

.dex-tokens-section {
  margin-bottom: 20px;

  &__table {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    tr {
      border-top: 1px dotted $white;

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border: 0;
      }
    }

    th,
    td {
      font-weight: normal;
      padding: 5px 0;
    }

    th {
      text-align: left;
      vertical-align: top;
    }

    td {
      text-align: right;
    }
  }
}
