.heading {
  &__title {
    font-weight: 500;
    padding-top: 8%;
    font-size: 30px;
    margin: 0;
    max-width: 80%;
    text-transform: uppercase;

    &-container {
      margin: 0 auto;
    }

    @media (min-width: 960px) {
      font-size: 88px;
    }
  }
}
