// TODO scope

.Header {
  background-image: url("../../images/banner.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
}

.Header .Title {
  font-family: NeuePixelGrotesk;
  font-size: 88px;
  padding-top: 200px;
}

.Header .Logo {
  width: 60px;
  cursor: pointer;
}

.Nav {
  padding: 20px;
}

.Inner {
  margin: 0 auto;
  width: 1300px;
}

.Left {
  float: left;
}

.Right {
  float: right;
  text-align: right;
}

.Clear {
  clear: both;
}

.UserAddress a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.UserAddress a:hover {
  color: #ffffff;
}

.Button {
  background-color: #000000;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

.Button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.MetaMaskError {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}

.WithdrawError {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}

.WithdrawSuccess {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}

.WithdrawPanel a {
  color: #000000;
}

.WithdrawPanel a:hover {
  text-decoration: none;
}

.WithdrawPanel {
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 10px 0px;
  color: #000000;
  font-size: 14px;
  margin-right: 20px;
}

.WithdrawTitle {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
  font-size: 13px;
}

.WithdrawLabel {
  margin-right: 10px;
}
