@import "../../styles/colors";

.heading {
  background-image: url("../../images/banner.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;

  &__nav {
    padding: 20px;
  }

  &__title {
    font-family: NeuePixelGrotesk;
    font-size: 88px;
    padding-top: 250px;

    &-container {
      margin: 0 auto;
      width: 1300px;
    }
  }

  &__logo {
    width: 60px;
    &-container {
      float: left;
    }
  }

  button {
    background-color: $black;
    padding: 10px 20px;
    color: $white;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;

    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  &__wallet-container {
    float: right;
    text-align: right;
  }

  &__error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
  }

  &__wallet {
    background-color: $white;
    border: 2px solid $black;
    padding: 10px 0px;
    color: $black;
    font-size: 14px;
    margin-right: 20px;
    a {
      color: $black;
    }

    a:hover {
      text-decoration: none;
    }
  }

  &__wallet-balance {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
    font-size: 13px;

    &-amount {
      margin-right: 10px;
    }
  }

  &__wallet-label {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
    font-size: 13px;
  }

  &__wallet-value {
    margin: 10px;
  }
}
