.continue-button__disabled {
  cursor: not-allowed !important; // needed to override the default cursor
  background-color: #c2c2c2;
  color: #767676;
}

.continue-button__container {
  display: flex;
  flex-direction: column;
}