@import "../../styles/colors";

.eth-wallet-connect {
  &__button {
    appearance: none;
    padding: 0;
    background-color: transparent;
    text-decoration: underline;

    &:hover {
      background-color: transparent;
    }
  }
}
