@import "../../styles/colors";

.callout {
  display: flex;
  gap: 10px;
  margin: 15px 0;
  padding: 14px;
  border: 1px solid $white;
  box-shadow: 3px 3px 0px $white;

  p {
    margin: 0 0 10px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // VARIATIONS
  &--error {
    box-shadow: 5px 5px 0px $vega-red3;
  }

  &--success {
    box-shadow: 5px 5px 0px $vega-green3;
  }

  &--warn {
    box-shadow: 5px 5px 0px $vega-yellow3;
  }

  &__title {
    margin: 0 0 15px 0;
  }
}
