.notice {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 100px;
  width: 1000px;

  a {
    color: #ffffff;
  }

  a:hover {
    text-decoration: none;
  }
}
