@import "../../styles/colors";

.token-input {
  &__container {
    display: flex;
  }

  &__input {
    flex: 1;
  }

  &__use-maximum {
    padding: 10px !important;
    height: 30px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__approved {
    margin-top: 25px;
  }

  &__submit {
    margin-top: 10px;
  }
}
