.app-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  max-width: 1020px;
  margin: auto;

  main {
    padding: 20px;
  }

  footer {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
