@import "./styles/colors";

.app {
  max-width: 1020px;
  margin: 0 auto;
  padding-bottom: 150px;
  display: grid;
  grid-template-rows: auto 1fr min-content;
  min-height: 100%;
}

footer {
  padding: 20px;
  border-bottom: 1px solid $white;
}
