@import "./styles/colors";

.app {
  max-width: 1020px;
  margin: 0 auto;
  padding-bottom: 200px;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100%;
}

.nav {
  padding: 10px !important;
  background: $vega-yellow3 url("./images/clouds.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -300px;
}
