@import "../../styles/colors";

.breadcrumbs {
  align-items: center;
  background-color: #111111;
  display: flex;
  height: 20px;
  padding: 14px;
  padding-left: 20px;
  font-size: 14px;

  &__spacer {
    margin: 0 4px;
  }
}
