@import "../../styles/colors";

.tranche-table {
  margin-top: 30px;

  &__label {
    display: inline-block;
    background-color: $white;
    color: $black;
    padding: 3px;
  }

  &__footer {
    text-align: right;
  }

  &__no-borders {
    border: none !important;
    border-bottom: none !important;
  }

  &__top-solid-border {
    border-top: 1px solid $white !important;
    border-bottom: none !important;
  }

  &__top-dashed-border {
    border-top: 1px dashed $white !important;
  }
}
