@import "../../styles/colors";
@import "../../styles/fonts";

.tranche-table {
  &__label {
    display: inline-block;
    text-transform: uppercase;
    background-color: $white;
    color: $black;
    padding: 3px;
  }

  &__footer {
    text-align: right;
  }
  &__header {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
  }

  &__footer {
    text-align: right;
  }

  &__progress {
    border-left: 1px solid white;
    border-right: 1px solid white;

    &-contents {
      display: flex;
      justify-content: space-between;
      gap: 0 5px;
      font-family: $font-mono;
      padding: 2px 5px 2px 5px;
      color: $text-color-deemphasise;
    }
  }

  &__progress-bar {
    display: flex;

    &--locked {
      background-color: $vega-pink;
      height: 16px;
    }

    &--vested {
      background-color: $vega-green;
      height: 16px;
    }

    &--staked {
      background-color: $vega-yellow4;
      height: 4px;
    }

    &--small {
      height: 4px;
      margin-top: 4px;
    }
  }
}
