@import "../../styles/colors";

.tranche-table {
  margin-bottom: 30px;

  &__label {
    display: inline-block;
    background-color: $white;
    color: $black;
    padding: 3px;
  }

  &__footer {
    text-align: right;
  }
}
