name: Release

on:
  push:
    branches: [master]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        id: Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node-version }}

      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@master

      - name: echo
        run: echo ${{ steps.package-version.outputs.current-version }}

      - uses: TriPSs/conventional-changelog-action@v3
        id: bump
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          git-message: "chore(release): {version}"
          preset: "angular"
          tag-prefix: ""
          output-file: "CHANGELOG.md"
          skip-on-empty: false
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - uses: dexturr/release-log@master
        id: logs
        with:
          repo: "vegaprotocol/token-frontend"
          previous-release: ${{ steps.package-version.outputs.current-version }}
          new-release: ${{ steps.bump.outputs.version }}
          filter: '["New Crowdin updates", "Release"]'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.bump.outputs.tag }}
          release_name: Release ${{ steps.bump.outputs.version }}
          body: |
            This is a **draft release** and must be published in [netlify](https://app.netlify.com/sites/token-vega-xyz/deploys?filter=master) before it will be live.

            After this has been published remember to mark this as no longer a pre-release!

            ${{ steps.logs.outputs.notes }}
          draft: false
          prerelease: true

      - uses: act10ns/slack@v1
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: always()
